<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>Custom Pipes</h3>
  <input type = "text" [(ngModel)] = "userFilter" /><br/><br/>
    <table border="1">
        <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | usersFilter : userFilter ">
             <td>{{user.name | uppercase}}</td>
             <td>{{user.location}}</td>
          </tr>
        </tbody>
                    
  </table>
</div>

